.container {
    width: 940px;
}

html{
    margin:0;
    background-color:#FCFCFC;
}

nav{
    float: right;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}

nav img {
    padding-left: 20px;
}

nav a{
    color: #426bbe;
}

a:hover{
    text-decoration:none;
}

body {
    background-color:#FCFCFC; /* Fallback */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #EDF0F9 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #EDF0F9 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #EDF0F9 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FCFCFC), color-stop(1, #EDF0F9));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EDF0F9 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FCFCFC 0%, #EDF0F9 100%);
    padding-top: 20px;
    margin:0;
}

p {margin:0 0 1em 0;padding:0} /* IMPORTANT */

p.footer {
    color: #808080;
}

@font-face
{
    font-family: "Nevis";
    src: url('/stylesheets/font/nevis.ttf');
}

@font-face
{
    font-family: "Lucida Grande";
    src: url('/stylesheets/font/lucida_grande.ttf');
}

h1,h2,h3,h4,h5,h6{
    font-family: Nevis, sans-serif;
    font-weight:normal;
    color: #202020;
    text-shadow:0px 1px 1px #B0B0B0;
}

h1.title{
    text-shadow:0px 1px 1px #B0B0B0;
}

a.title{
    color: #202020;
}

.title a, .title a:hover, .title a:visited{
    text-decoration:none;
}

.info a, .info a:hover, .info a:visited{
    text-decoration:none;
}

.info{
    color:#707070;
    font-size:18px;
}

.body_part p{
    background: transparent;
    font-size: 14px;
    margin: 0 0 1em 0;
}

.resume_title{
    color: #426bbe;
}

.rad{
    border-radius: 40px;
}

/* Menu */

.menu{
    font-family: Nevis, sans-serif;    
    font-size: 20px;
    text-shadow:0px 1px 1px #B0B0B0;
}

/* Flexslider */

.flexslider{
    background:transparent !important;
    border:none !important;
    border-radius:none !important;
    box-shadow: 0px 0px 2px #808080;
    margin: 0 0 20px;
}

.slides li:after {
    content: ".";
    position:absolute;
    top:0;
    left:0;
    z-index:-1000;
}

/* Resume */
.resume
{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 1px #B0B0B0;
    text-autospace:none;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
    margin-bottom: 1em;
}

.resume p{
    margin:0;
    padding:0;
}

p.subtitle
{
    font-weight: bold;
    font-size:16px;
    background-color: #F8F8F8;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.go_up
{
    display: block;
}

.temp
{
    padding-left:20px;
    border-radius: 10px;
/*    margin-left: auto; */
/*    margin-right: auto; */
}