.container {
    width: 940px;
}

html{
    margin:0;
}

body {
    background-color: #F8F8F8;
    padding-top: 20px;
    margin:0;
}

p {margin:0 0 1em 0;padding:0} /* IMPORTANT */

p.footer {
    border-top-style: outset;
    color: #989898;
}

@font-face
{
    font-family: "Nevis";
    src: url('/stylesheets/font/nevis.ttf');
}

@font-face
{
    font-family: "Lucida Grande";
    src: url('/stylesheets/font/lucida_grande.ttf');
}

h1,h2,h3,h4,h5,h6{
    font-family: Nevis, sans-serif;
    font-weight:normal;
    color: #202020;
    text-shadow:0px 1px 1px #B0B0B0;
}

h1.title{
    text-shadow:0px 1px 1px #B0B0B0;
}

a.title{
    color: #202020;
}

.title a, .title a:hover, .title a:visited{
    text-decoration:none;
}

.info a, .info a:hover, .info a:visited{
    text-decoration:none;
}

.info{
    color:#707070;
    font-size:18px;
    padding-bottom: 5px;
}

.body_part p{
    background: transparent;
    font-size: 14px;
}

.resume_title{
    color: #426bbe;
}

.rad{
    border-radius: 40px;
}

/* Menu */

.menu{
    font-family: Nevis, sans-serif;    
    font-size: 20px;
    text-shadow:0px 1px 1px #B0B0B0;
}

.nav li{
    padding-bottom: 20px;
}

.nav a{
    color: #426bbe;
}

.nav li:hover{
    padding-right:60px;
}

/* Flexslider */

.flexslider{
    background:transparent !important;
    border:none !important;
    border-radius:none !important;
    box-shadow: 0px 0px 2px #808080;
    margin: 0 0 20px;
}

.slides li:after {
    content: ".";
    position:absolute;
    top:0;
    left:0;
    z-index:-1000;
}

/* Resume */
.resume
{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 1px #B0B0B0;
    text-autospace:none;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
}

.resume p{
    margin:0;
    padding:0;
}

p.subtitle
{
    font-weight: bold;
    font-size:16px;
    background-color: #F8F8F8;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

.go_up
{
    display: block;
}

.temp
{
    padding-left:20px;
    background-color:#FFF;
    border-radius: 10px;
/*    margin-left: auto; */
/*    margin-right: auto; */
}